In [33]:
import pandas as pd
import numpy as np

df = pd.read_csv('biel_train.csv')
df

,shape,max_tem,tem_rate,height,length,width,W_top,W_side,W_bottom,tem_initial,tem_out,days,location,y_temp
0,sw1,48.8,0.73,4.4,20,2,13,14.0,2.7,15,-5,0.0,top,15.000000
1,sw1,48.8,0.73,4.4,20,2,13,14.0,2.7,15,-5,0.1,top,16.339477
2,sw1,48.8,0.73,4.4,20,2,13,14.0,2.7,15,-5,0.2,top,17.124659
3,sw1,48.8,0.73,4.4,20,2,13,14.0,2.7,15,-5,0.3,top,17.847258
4,sw1,48.8,0.73,4.4,20,2,13,14.0,2.7,15,-5,0.4,top,18.539062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4739,sw1,48.8,0.73,4.4,20,2,13,14.0,2.7,15,-5,27.6,top,NaN
4740,sw1,48.8,0.73,4.4,20,2,13,14.0,2.7,15,-5,27.7,top,NaN
4741,sw1,48.8,0.73,4.4,20,2,13,14.0,2.7,15,-5,27.8,top,NaN
4742,sw1,48.8,0.73,4.4,20,2,13,14.0,2.7,15,-5,27.9,top,NaN
4743,sw1,48.8,0.73,4.4,20,2,13,14.0,2.7,15,-5,28.0,top,NaN

In [34]:
# y_temp 결측치 제거

df = df.dropna()
df

,shape,max_tem,tem_rate,height,length,width,W_top,W_side,W_bottom,tem_initial,tem_out,days,location,y_temp
0,sw1,48.8,0.73,4.4,20,2,13,14.0,2.7,15,-5,0.0,top,15.000000
1,sw1,48.8,0.73,4.4,20,2,13,14.0,2.7,15,-5,0.1,top,16.339477
2,sw1,48.8,0.73,4.4,20,2,13,14.0,2.7,15,-5,0.2,top,17.124659
3,sw1,48.8,0.73,4.4,20,2,13,14.0,2.7,15,-5,0.3,top,17.847258
4,sw1,48.8,0.73,4.4,20,2,13,14.0,2.7,15,-5,0.4,top,18.539062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4459,sw1,48.8,0.73,4.4,20,2,13,14.0,2.7,20,10,26.0,side2,11.765001
4460,sw1,48.8,0.73,4.4,20,2,13,14.0,2.7,20,10,31.0,side2,10.989847
4461,sw1,48.8,0.73,4.4,20,2,13,14.0,2.7,20,10,37.0,side2,10.524836
4462,sw1,48.8,0.73,4.4,20,2,13,14.0,2.7,20,10,43.0,side2,10.290912
4463,sw1,48.8,0.73,4.4,20,2,13,14.0,2.7,20,10,53.0,side2,10.141336

## One-Hot Encoding으로 문자열 shape와 location을 숫자형 데이터로 변환

In [35]:
# from sklearn.preprocessing import OneHotEncoder, LabelEncoder

# shape_data = df['shape'].unique()
# location_data = df['location'].unique()

# print(shape_data)
# print(location_data)

['sw1' 's3' 'sw2']
['top' 'bottom' 'side1' 'center' 'side2']

In [36]:
# # 숫자 값으로 변환하기 위해 LabelEncoder로 먼저 변환
# sp_encoder = LabelEncoder()
# sp_encoder.fit(shape_data)
# shape_labels = sp_encoder.transform(shape_data)
# print(shape_labels)

# # 2차원 데이터로 변환
# shape_labels = shape_labels.reshape(-1,1)
# print(shape_labels)

# # One-hot encoding 적용
# sp_oh_encoder = OneHotEncoder()
# sp_oh_encoder.fit(shape_labels)
# sp_oh_labels = sp_oh_encoder.transform(shape_labels)
# print(sp_oh_labels.toarray())

[1 0 2]
[[1]
 [0]
 [2]]
[[0. 1. 0.]
 [1. 0. 0.]
 [0. 0. 1.]]

In [27]:
# # 'shape'의 각 데이터 빈도수 구하기

# from collections import Counter
# import operator

# shape_fre = Counter(df['shape'])
# print(shape_fre)

# # 높은 빈도수를 가진 단어부터 정수 인덱스 부여

# shape_fre = sorted(shape_fre.items(), key=operator.itemgetter(1), reverse = True)
# print(shape_fre)

# shape_index = {}
# i = 0
# for (shape_name, frequency) in shape_fre :
#     i = i+1
#     shape_index[shape_name] = i

# print(shape_index)

Counter({'sw1': 2040, 's3': 1224, 'sw2': 1200})
[('sw1', 2040), ('s3', 1224), ('sw2', 1200)]
{'sw1': 1, 's3': 2, 'sw2': 3}

In [38]:
pd.get_dummies(df)

,max_tem,tem_rate,height,length,width,W_top,W_side,W_bottom,tem_initial,tem_out,days,y_temp,shape_s3,shape_sw1,shape_sw2,location_bottom,location_center,location_side1,location_side2,location_top
0,48.8,0.73,4.4,20,2,13,14.0,2.7,15,-5,0.0,15.000000,0,1,0,0,0,0,0,1
1,48.8,0.73,4.4,20,2,13,14.0,2.7,15,-5,0.1,16.339477,0,1,0,0,0,0,0,1
2,48.8,0.73,4.4,20,2,13,14.0,2.7,15,-5,0.2,17.124659,0,1,0,0,0,0,0,1
3,48.8,0.73,4.4,20,2,13,14.0,2.7,15,-5,0.3,17.847258,0,1,0,0,0,0,0,1
4,48.8,0.73,4.4,20,2,13,14.0,2.7,15,-5,0.4,18.539062,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4459,48.8,0.73,4.4,20,2,13,14.0,2.7,20,10,26.0,11.765001,0,1,0,0,0,0,1,0
4460,48.8,0.73,4.4,20,2,13,14.0,2.7,20,10,31.0,10.989847,0,1,0,0,0,0,1,0
4461,48.8,0.73,4.4,20,2,13,14.0,2.7,20,10,37.0,10.524836,0,1,0,0,0,0,1,0
4462,48.8,0.73,4.4,20,2,13,14.0,2.7,20,10,43.0,10.290912,0,1,0,0,0,0,1,0
4463,48.8,0.73,4.4,20,2,13,14.0,2.7,20,10,53.0,10.141336,0,1,0,0,0,0,1,0

In [29]:
# # 'location'의 각 데이터 빈도수 구하기

# loc_fre = Counter(df['location'])
# print(loc_fre)

# # 높은 빈도수를 가진 단어부터 정수 인덱스 부여

# loc_fre = sorted(loc_fre.items(), key=operator.itemgetter(1), reverse = True)
# print(loc_fre)

# loc_index = {}
# i = 0
# for (loc_name, frequency) in loc_fre :
#     i = i+1
#     loc_index[loc_name] = i

# print(loc_index)

Counter({'bottom': 1216, 'center': 1216, 'top': 816, 'side1': 808, 'side2': 408})
[('bottom', 1216), ('center', 1216), ('top', 816), ('side1', 808), ('side2', 408)]
{'bottom': 1, 'center': 2, 'top': 3, 'side1': 4, 'side2': 5}

In [31]:
# # 'shape'와 'location' 정수로 인코딩

# df = df.replace({'shape': shape_index})
# df = df.replace({'location': loc_index})
# df

,shape,max_tem,tem_rate,height,length,width,W_top,W_side,W_bottom,tem_initial,tem_out,days,location,y_temp
0,1,48.8,0.73,4.4,20,2,13,14.0,2.7,15,-5,0.0,3,15.000000
1,1,48.8,0.73,4.4,20,2,13,14.0,2.7,15,-5,0.1,3,16.339477
2,1,48.8,0.73,4.4,20,2,13,14.0,2.7,15,-5,0.2,3,17.124659
3,1,48.8,0.73,4.4,20,2,13,14.0,2.7,15,-5,0.3,3,17.847258
4,1,48.8,0.73,4.4,20,2,13,14.0,2.7,15,-5,0.4,3,18.539062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4459,1,48.8,0.73,4.4,20,2,13,14.0,2.7,20,10,26.0,5,11.765001
4460,1,48.8,0.73,4.4,20,2,13,14.0,2.7,20,10,31.0,5,10.989847
4461,1,48.8,0.73,4.4,20,2,13,14.0,2.7,20,10,37.0,5,10.524836
4462,1,48.8,0.73,4.4,20,2,13,14.0,2.7,20,10,43.0,5,10.290912
4463,1,48.8,0.73,4.4,20,2,13,14.0,2.7,20,10,53.0,5,10.141336